body{
    height:100%;
}
header h4{
    font-family: 'Gugi', cursive;
}
.container-fluid{
    max-width:900px;
}

#wrap {
    min-height:100%;
    height: auto !important;
    height:100%;
    margin: 0 auto -60px;
}

.footer {
    position:relative;
    bottom:0;
}

#push,
#footer {
    height: 60px;
}